<div class="container about">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h5>Please find below a list of the statistics included in the database, and applicable tests associated with each statistic.</h5>
      <table class='table'>
        <thead>
          <tr>
            <th>Statistical Measurement</th>
            <th>Test</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bench Press</td>
            <td>185 pound bench press</td>
            <td>The total amount of of bench press repetitions at 185 pounds.  This is used to measure the endurance and strength of the chest muscle groups.</td>
          </tr>
          <tr>
            <td>Agility</td>
            <td>Lane Agility Drill &amp Reactive Shuttle Run</td>
            <td>A combination score of both events. The Lane Agility test measures how fast a player moves laterally around the key.  The Reactive Shuttle Run is another timed event. The players start in the middle of the key and run to each side of the key before returning to the center.  The total amount of seconds for both events is the combined score.</td>
          </tr>
          <tr>
            <td>Sprint</td>
            <td>¾ Court Sprint</td>
            <td>Total time to sprint three quarters of a NBA court's distance.</td>
          </tr>
          <tr>
            <td>Leg Strength</td>
            <td>Vertical Jump</td>
            <td>Two separate tests are used to determine a players overall leg strength.  The first is a no step vertical jump.  This measures the athlete's leaping ability from a standstill.  The second test, max vertical, allows the athlete to get a running start.</td>
          </tr>
          <tr>
            <td>Physical Measurements</td>
            <td></td>
            <td>These include height, with and without shoes, weight, body fat, reach, and wingspan.</td>
          </tr>
        </tbody>
      </table>
      <h5>Reach out to me at any of the contacts below with questions on the application.</h5>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="bottomtext">
    <p>For a similar look at professional football combine measurements, check out <a href="http://www.mockdraftable.com" target="_blank">Mock Draftable</a></p>
    <p>
      <a href="https://gmail.com" target='_blank'><span class='fa fa-envelope-o fa-3x animatedhover animated pulse'></span></a>
      <a href="https://github.com/behrmann41" target='_blank'><span class="fa fa-github fa-3x animatedhover animated pulse"></span></a>
      <a href="https://twitter.com/ijb41" target='_blank'><span class="fa fa-twitter fa-3x animatedhover animated pulse"></span></a>
      <a href="https://www.linkedin.com/in/ianjbehrmann" target='_blank'><span class="fa fa-linkedin fa-3x animatedhover animated pulse"></span></a>
    </p>
    <p>Copyright &copy Basketball Radar - 2016</p>
  </div>
</div>
