<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class='table'>
        <thead>
          <tr>
            <th>Statistical Measurement</th>
            <th>Test</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bench Press</td>
            <td>185 pound bench press</td>
            <td>The total amount of of bench press repetitions at 185 pounds.  This is used to measure the endurance and strength of the chest muscle groups</td>
          </tr>
          <tr>
            <td>Agility</td>
            <td>Lane Agility Drill &amp Reactive Shuttle Run</td>
            <td>A combination score of both events. The Lane Agility test measures how fast a player moves laterally around the key.  The Reactive Shuttle Run is another timed event. The players start in the middle of the key and run to each side of the key before returning to the center.  The total amount of seconds for both events is the combined score.</td>
          </tr>
          <tr>
            <td>Sprint</td>
            <td>¾ Court Sprint</td>
            <td>Total time to sprint three quarters of the courts distance.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
