<div class="container home">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Welcome to Basketball Radar</h3>
      <section>
        <button class="btn btn-lg btn-success">
          <i class="fa fa-database fa-2x pull-right"></i> Player Database</button>
      </section>
      <section>
      <button class="btn btn-lg btn-success">
        <i class="fa fa-bar-chart fa-2x pull-right"></i> Player Ratings</button>
      </section>
      <section>
      <button class="btn btn-lg btn-success">
        <i class="fa fa-pie-chart fa-2x pull-right"></i> Start Comparing Players</button>
      </section>
    </div>
  </div>
</div>
