<div class="container home">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-primary btn-lg home-btn" ng-click="dbDetails()">Player Database <span class="fa fa-database"></span></button>
        <button type="button" class="btn btn-primary btn-lg home-btn" ng-click="prDetails()">Player Ratings <span class="fa fa-bar-chart"></span></button>
        <button type="button" class="btn btn-primary btn-lg home-btn" ng-click="pcDetails()">Comparing Players <span class="fa fa-pie-chart"></span></button>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div ng-show='dataDetails'>
        <h3 class='text-center'>Welcome to Basketball Radar</h3>
        <p>See a list of all players within the database.  Select individual players to see a breakdown of their combine metrics.  Players listed from 1992 and forward.  See players broken down by draft year</p>
      </div>
      <div ng-show="ratingDetails">
        <p>
          players rated on z-score in relation to draft class
        </p>
      </div>
      <div ng-show="compareDetails">
        <p>
          Use d3 generated radar chart to either view one specific player, or compare any two players.
        </p>
      </div>
    </div>
  </div>
</div>
