<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="yearselect" class="col-md-1 col-md-offset-2 control-label">Select Year:</label>
        <div class="col-md-2">
          <select ng-model='searchYear' placeholder='Select Year' id='yearselect' class="form-control">
            <option ng-repeat='year in years'>{{year}}</option>
          </select>
        </div>
      </div>
    <div class="col-md-12">
      <table class='table table-striped table-bordered'>
        <thead>
          <tr>
            <th ng-repeat='col in columns' ng-if="col.name !== 'id' && col.name !== 'createdAt' && col.name !== 'updatedAt'">{{col.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='player in allPlayers | filter:searchYear'>
            <td>{{player.name}}</td>
            <td>{{player.draftYear}}</td>
            <td>{{player.heightWithOutShoes}}</td>
            <td>{{player.heightWithShoes}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.wingspan}}</td>
            <td>{{player.reach}}</td>
            <td>{{player.bodyFat}}</td>
            <td>{{player.handLength}}</td>
            <td>{{player.handWidth}}</td>
            <td>{{player.noStepVert}}</td>
            <td>{{player.noStepVertReach}}</td>
            <td>{{player.maxVert}}</td>
            <td>{{player.maxVertReach}}</td>
            <td>{{player.bench}}</td>
            <td>{{player.agility}}</td>
            <td>{{player.sprint}}</td>
            <td>{{player.rank}}</td>
            <td>{{player.draftPos}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
