<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 verticalLine">
      <h2>{{player1.name}}<span><button class="btn playerinfo" uib-popover-template="templateUrl1"  popover-title="Stats" popover-placement="bottom-right"><span class="fa fa-info-circle fa-lg"></span></button></span></h2>
      <img class='playerpic' src="/images/blake-griffin.jpg" alt=""/>
      <div class="" ng-show='secondPicture'>
        <h2>{{player2.name}}<span><button class='btn playerinfo' uib-popover-template="templateUrl2" popover-title="Stats" popover-placement="bottom-right"><span class="fa fa-info-circle fa-lg"></span></button></span></h2>
        <img class='playerpic' src="/images/westbrook.jpg"/>
      </div>
      <button type="button" class="btn btn-primary btn-lg addplayer" data-toggle="modal" data-target="#searchModal"><span class="fa fa-user-plus my-icon"></span> Add a Player</button>

      <!-- Search Modal -->
      <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="searchModalLabel">Search for player</h4>
              <p>
                After search - click players name to add to graph
              </p>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-9 col-md-offset-3">
                  <form id='searchBox' class="form-inline pull-right" novalidate ng-submit='modalGlobalSearch()' role="search">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" ng-model='globalSearchTerm' placeholder="Search for Player" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Player'">
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="list-group">
                    <a ng-repeat='player in modalPlayers' href="#" class="list-group-item" ng-click='addToGraph(player)' data-dismiss="modal">{{player.name}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div id="body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>
