<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <form id='searchBox' class="form-inline pull-right" novalidate ng-submit='applyGlobalSearch()' role="search">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input type="text" class="form-control" ng-model='globalSearchTerm' placeholder="Search for Player" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Player'">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
